.container {
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

.container img {
    padding: 20px;
    max-width: 100%;
    text-align: center;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {

    .container {
        padding: 20px;
        padding-top: 60px;
        max-width: 60rem;
    }

    .container img {
        padding: 0px;
        padding-top: 20px;
    }

    .btn {
        font-size: 32px !important;
    }
  }
